@import "./componentes/_body";
@import "./componentes/_cards";
@import "./componentes/_colores";
@import "./componentes/_footer";
@import "./componentes/_listas";
@import "./componentes/_mixins";
@import "./componentes/_showcase";
@import "./componentes/_efectos";
/* Global */
* {
  @include default-props;
}
/*imagen*/

.perfil {
    height: 250px;
}

.logo {
    width: 100px;
    margin-right: 2rem;
}
.photo-grid-container {
    background-color: $rosybrown;
}

.brand-one {
    width: 20px;
    height: 30px;
}

.news-one {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-bottom: 20%;
    float: left;
}

/*navegacion*/
.nav-link {
    color: $hotpink!important;
}

.contenedor {
    margin: auto;
    display: table;
}

.content h2 p {
    text-align: left;
    @include banner-props;
}
