$black-x:#000000;
$lavender: lavender;
$rosybrown: rosybrown;
$white: white;
$blue: blue;
$red:red;
$hotpink: hotpink;
$blueviolet: blueviolet;
$grey: grey;
$midnightblue:midnightblue;
$pink:pink;
$fuchsia-x:fuchsia;