/* SHOWCASE */

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background: $black-x;
    color: $white;
    font-size: 15px;
    border: 1px solid $white;
    &:hover {
        opacity: 0.9;
    }
}
.showcase {
    width: 100%;
    height: 550px;
    background: url(../imagenes/pexels-mike-114820.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    color: $lavender;
    h2,
    p {
        margin-bottom: 10px;
        background-color: $black-x;
    }
    .btn {
        margin-top: 20px;
    }
}

